/* ===============================
   GLOBAL STYLES
================================ */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: rgba(211, 211, 211, 0.747);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden; /* clears floats inside */
}

ul {
  margin: 0;
  padding: 0;
}

/* ===============================
   BUTTON
================================ */

.button_1 {
  height: 38px;
  background: rgb(24, 80, 24);
  border: 0;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

.dark {
  padding: 15px;
  background: rgb(241, 210, 125);
  color: rgb(123, 134, 116);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ===============================
   HEADER
================================ */

header {
  background-color: rgb(241, 210, 125);
  color: rgb(123, 134, 116);
  padding-top: 30px;
  min-height: 70px;
  border-bottom: rgb(24, 80, 24) 3px solid;
}

header a {
  color: rgb(123, 134, 116);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: rgb(24, 80, 24);
  font-weight: bold;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

/* ===============================
   SHOWCASE
================================ */

#showcase {
  min-height: 400px;
  background: url("../Image/office-background-98u0d3viaysny9v9.jpg") no-repeat
    center;
  background-size: cover;
  text-align: center;
  color: rgb(123, 134, 116);
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* ===============================
   NEWSLETTER
================================ */

#newsletter {
  padding: 15px;
  color: rgb(123, 134, 116);
  background: rgb(241, 210, 125);
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* ===============================
   BOXES
================================ */

#boxes {
  margin-top: 20px;
}

/* clear floats so footer stays at bottom */
#boxes::after {
  content: "";
  display: block;
  clear: both;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 90px;
}

/**Sidebar*/
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
}
article#main-col {
  float: left;
  width: 65%;
}

/*Services**/
ul#services li {
  list-style: none;
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}
/* ===============================
   FOOTER
================================ */

footer {
  padding: 20px;
  margin-top: 20px;
  color: rgb(123, 134, 116);
  background-color: rgb(241, 210, 125);
  text-align: center;
  clear: both; /* safety clear */
}

/**Media Queries*/
header #branding,
header nav,
header nav li,
#newsletter h1,
#newsletter form {
  float: none;
  text-align: center;
  width: 100%;
}

header {
  padding-bottom: 20px;
}

#showcase h1 {
  margin-top: 40px;
}

#newsletter button {
  display: block;
  width: 100%;
}

#newsletter form input[type="email"],
.quote input,
quote textarea {
  width: 100%;
  margin-bottom: 5px;
}

.about_us,
.page-title {
  color: rgb(24, 80, 24);
}
.about_us {
  font-weight: 540;
}

.hero_text {
  color: #ecf5d4;
  text-shadow: 3px 2px 9px black;
}
